<div id="exp"class="row">
     <h1 >Experience</h1>
    <div  class="col-lg-2" >
       
        <button type="button" class="btn btn-success" routerLink="/nuevaexp" *ngIf="isLogged">Añadir
            experiencia</button>
    </div>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h4>{{Experiencia.nombreE}}</h4>
                    </td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-primary" routerLink="/editexp/{{Experiencia.id}}"><i
                                class="bi bi-pencil-fill"></i></button></td>
                    <td *ngIf="isLogged"><button class="btn btn-light" (click)="delete(Experiencia.id)"><i
                        class="bi bi-x-circle-fill"></i></button></td>
                </tr>
            </tbody>
        </table>


    </div>
</div>


