<div class="row">
    <h1>Experience</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-success" routerLink="/nuevaexp" *ngIf="isLogged">Nueva experiencia</button>
    </div>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>{{Experiencia.nombreE}}</td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td>Editar</td>
                    <td>Borrar</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>