.row{
    padding:10px;
}
div{
    background-color:rgb(10, 89, 247);
    text-align: center;
    

}
.grupo input{
    margin-left: 57px;
    top:15px;
    padding: 2px 5px 5px 2px;
}

.grupo i{
    position:absolute;
    margin-left: 45px;
    font-size: 20px;
    color:#000000
    
}

.boton{
    width:fit-content;
    margin:0 auto;
}
p{
    font-family: 'Fjalla One', sans-serif;
    color:#ffffff;
}

@media (min-width: 576px){
    #foto{
        position:absolute;
        width:15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
        left:3%;
        top:600px;
    }
}
@media (max-width: 575px){
    #foto{
        position:absolute;
        width:15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
        left:3%;
        top:680px;
    }
}

#about{
    margin-top:3%;
    
    
}
#about1 {
    padding: 55px 30px;
    
    
    
}
#about{
    padding:1px 5px;
}

#about h3 {
    color: #000000
}

#about p {
    color: #ffffff;
    
   
}
#nombre{
    font-weight:bold;
    
}

.imagenes{
    width:15%;
  }
  .imagenes1{
    width:20%;
  }
  .imagenes3{
    width:10%;
  }
  
  
 