
.div1{
  background-color:#2643e7;
  font-family: 'Rubik', sans-serif;;
  
}

button{
  margin-right: 5px;
  
}

.imagenes{
  width:15%;
}
.imagenes1{
  width:20%;
}
.imagenes3{
  width:10%;
}


#education {
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid #454549;
  text-align: center
}

#education h2 {
  color: #fafafa;
  margin-bottom: 50px
}

.education-block {
  background-color: rgb(20, 76, 180);
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #000000;
  text-align: left
}

.education-block h3 {
  font-weight: 500;
  float: left;
  margin: 0;
  color: #000000
}

.education-block span {
  color: #0b0c0c;
  float: right
}

.education-block h4 {
  color: #d9dfe4;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0
}

.education-block p,
.education-block ul {
  margin: 0;
  color: #74808a;
  font-size: 0.9em
}

.education-block ul {
  padding: 0 0 0 15px
}

h2{
  display: inline;
  font-family: 'Rubik', sans-serif;
}

