
div{
  background-color:#fffbfb
}
.imagenes{
  width:15%;
}
.imagenes1{
  width:20%;
}
.imagenes3{
  width:10%;
}
button{
  display: inline-block
}
#education {
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid #5b5bf1;
  text-align: center
}

#education h2 {
  color: #000000;
  margin-bottom: 50px
}

.education-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #000000;
  text-align: left
}

.education-block h3 {
  font-weight: 500;
  float: left;
  margin: 0;
  color: #000000
}

.education-block span {
  color: #0b0c0c;
  float: right
}

.education-block h4 {
  color: #74808a;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0
}

.education-block p,
.education-block ul {
  margin: 0;
  color: #74808a;
  font-size: 0.9em
}

.education-block ul {
  padding: 0 0 0 15px
}
