<div class="row">
    <h1>Experience</h1>
    <div class="col-lg-11">
        <ul>
            <div class="listas">
            <li>
                <h2>Marzo 2016-Diciembre 2017</h2>
                <h3>Prácticas profesionales</h3>
                <h4>Técnico electricista especializado en automatización</h4>
                <p>
                    Prácticas profesionales de automatización industrial que se basaban en programar utilizando lenguaje
                    ladder. Para ello se usaban automatas como PLC y ZELIO.
                </p>
            </li>
        </div>
            <li class="container2">
                <h2>Mayo 2022-Diciembre 2022</h2>
                <h3>Ayudante de catedra</h3>
                <h4>Técnico en investigación de la escena del crimen</h4>
                <p>
                    Construcción de contenidos multimediales de grado en universidad Siglo 21. 
                </p>
            </li>
        </ul>
    </div>
</div>