.row{
    padding:20px
}
div{
    background:rgb(192, 201, 207);
    color: rgb(78, 73, 73);
}
h1{
    color:rgb(0, 0, 0)
}
h2{
    color:#3a3b3d
}

#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom
: 1px solid #8e8787;
}
#experience h2 {
    color: #374054;
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;
}

#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #aa9389a4;
    z-index: 0;
}

#experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: #8172709d;
    background: linear-gradient(to bottom, #a59685, rgba(52, 152, 219, 0));
    top: 100%;
    left: 303px;
}




