<div class="row" id="skills">


  <h2 class="text-center">Hard skills</h2>
  <div>
    <div class="wrapper1" style="text-align:center" *ngIf="isLogged">
      <button type="button" class="btn btn-success" routerLink="/nuevaskill/"><i class="bi bi-wrench"></i></button>
      <p>Añadir skill</p>
    </div>
  </div>


  <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let Skill of skill">
    <div class="wrapper">
      <circle-progress [percent]="Skill.descripcionE" [radius]="70" [showUnits]="false" [title]="Skill.nombreE"
        [outerStrokeWidth]="10" [innerStrokeWidth]="6" [outerStrokeColor]="'#02FFA3'" [innerStrokeColor]="'#D6D6EA'"
        [animation]="true" [animationDuration]="800">
      </circle-progress>
      <div class="botones" *ngIf="isLogged">
        <button class="btn btn-primary" routerLink="/editsk/{{Skill.id}}"><i class="bi bi-pencil-fill"></i></button>
        <div class="boton1"><button class="btn btn-light" (click)="delete(Skill.id)"><i
              class="bi bi-x-circle-fill"></i></button>
        </div>
      </div>

    </div>

  </div>










</div>