<div class="row" id="skills">
    <h1 class="text-center">Hard and soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="90"
  [radius]="100"
  [title]="'HTML'"
  [imageSrc]="'assets/images/HTML.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [showUnits]="true"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#524BE6'"
  [innerStrokeColor]="'#D6D6EA'"
  [animation]="true"
  [animationDuration]="500"
  
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'HTML'"
  [imageSrc]="'assets/images/css.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#524BE6'"
  [innerStrokeColor]="'#D6D6EA'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="70"
  [radius]="100"
  [title]="'HTML'"
  [imageSrc]="'assets/images/JS.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#524BE6'"
  [innerStrokeColor]="'#D6D6EA'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="50"
  [radius]="100"
  [title]="'HTML'"
  [imageSrc]="'assets/images/GIT.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="70"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#524BE6'"
  [innerStrokeColor]="'#D6D6EA'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="90"
  [radius]="100"
  [title]="'HTML'"
  [imageSrc]="'assets/images/PROACTIVO.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="60"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#524BE6'"
  [innerStrokeColor]="'#D6D6EA'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="30"
  [radius]="100"
  [title]="'HTML'"
  [imageSrc]="'assets/images/ENGLISH.png'"
  [showImage]="true"
  [imageHeight]="50"
  [imageWidth]="50"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#524BE6'"
  [innerStrokeColor]="'#D6D6EA'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
</div>


</div>