<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Login</h3>
            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
              <div class="form-outline mb-4">
                <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" name="nombreUsuario" required/>
                <label class="form-label" for="nombreUsuario">User</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" name="password" required />
                <label class="form-label" for="password">Password</label>
              </div>

              <!-- Checkbox -->
              <div  text-align="center">
                <p>User & Password: admin</p>
      
              </div>
            

              <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>


            </form>



            <hr class="my-4">



          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <body>
    <script src=""></script>
  </body>
</div>